<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/home.css">
        <%- style %>
    </head>
    <body>
        <header>
            <%- include('_header') %>
        </header>
        <%- body %>
        <footer>
            <%- include('_footer') %>
        </footer>
        <%- script %>
    </body>
    <script src="/js/home.js"></script>
</html>